<div class="layui-form pub_querybox">
    <div class="layui-form-item">
        <label class="layui-form-label">查询时间：</label>
        <label class="layui-form-label">从</label>
        <div class="layui-input-inline">
            <input type="text" name="gmt_create_start" autocomplete="off" class="layui-input" id="gmt_create_start">
        </div>
        <label class="layui-form-label">到</label>
        <div class="layui-input-inline">
            <input type="text" name="gmt_create_end" autocomplete="off" class="layui-input" id="gmt_create_end">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 6rem">商户交易号：</label>
        <div class="layui-input-inline">
            <input type="text" name="out_trade_no" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">代付号：</label>
        <div class="layui-input-inline">
            <input type="text" name="trade_no" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">状态：</label>
        <div class="layui-input-inline">
            <select name="province">
                <option>全部</option>
                <option value="WAIT_PAY">待付款</option>
                <option value="PAY_SUCCESS">付款成功</option>
                <option value="STATUS_APPLYED">已申请</option>
                <option value="STATUS_SUCCESS">成功</option>
                <option value="STATUS_FAIL">失败</option>
                <option value="STATUS_CHARGE_BACK">银行退票</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">卡号：</label>
        <div class="layui-input-inline">
            <input type="text" name="card_no" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label" style="width: 6rem">持卡人姓名：</label>
        <div class="layui-input-inline">
            <input type="text" name="card_holder_name" autocomplete="off" class="layui-input">
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn pub_bluebtn" lay-submit lay-filter="trade_qbtn">查询</button>
            <!--<button type="reset" class="layui-btn pub_bluebtn">导出</button>-->
        </div>
    </div>
</div>
<div class="pub_table">
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th>产品</th>
            <th>商户号</th>
            <th>卡号</th>
            <th>持卡人姓名</th>
            <th>代付金额</th>
            <th>手续费</th>
            <th>创建时间</th>
            <th>备注</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody class="pub_tbody">
        <tr><td colspan='9'>未找到相关记录</td></tr>
        </tbody>
    </table>
    <div id="pub_page" class="pub_page"></div>
</div>
<script>
    layui.use(['element', 'laydate', 'laypage','form'], function () {
        var   form = layui.form
            , laypage = layui.laypage
            , laydate = layui.laydate
            , $ = layui.$
            ,now = new Date();

        //监听导航点击
        form.render('select');
        laydate.render({
            elem: '#gmt_create_start'
            ,type:'datetime'
            ,value: now.format("yyyy-MM-dd")+' 00:00:00'
            ,format:'yyyy-MM-dd HH:mm:ss'
        });
        laydate.render({
            elem: '#gmt_create_end'
            ,type:'datetime'
            ,value: now.format("yyyy-MM-dd")+' 23:59:59'
            ,format:'yyyy-MM-dd HH:mm:ss'
        })
        laypage.render({
            elem: 'pub_page'
            , count: 0
            , theme: '#347ebc'
            , layout: ['count', 'prev', 'page', 'next', 'skip']
        });
        form.on('submit(trade_qbtn)', function(data){
            query(1,data);
        });
        function query(num,datas) {
            var field = datas.field
                ,subobj = field;
            subobj['current_page'] = num;
            console.log(subobj);
            $.post("/bcquery",
                subobj,
                function (data) {
                    console.log(data);
                    var result = data.yumei_partner_agentpay_record_query_paging_response
                        ,result_code = result.result_code
                        ,result_code_msg = result.result_code_msg;
                    if (result_code == '00') {
                        $('.pub_tbody').empty();
                        var list = result.list
                            ,paginator = result.paginator;
                        for (var record in list) {
                            var records = list[record]
                                ,fee = records["service_fee"]? records["service_fee"]["amount"]:"0.00"
                                ,amount = records["amount"]["amount"]
                                ,memo = records["memo"]
                                ,out_trade_no = records["out_trade_no"]
                                ,inst_card_no = records["inst_card_no"] || ' '
                                ,inst_card_holder_name = records["inst_card_holder_name"] || ' '
                                ,gmt_create = records["gmt_create"]||' '
                                ,product = records["product"]||' '
                                ,status = records["status"]||' '
                                ,sub_merchant_id = records["sub_merchant_id"]||' ';
                            if (status == 'WAIT_PAY') {
                                status = '待付款';
                            } else if (status == 'PAY_SUCCESS') {
                                status = '付款成功';
                            } else if (status == 'STATUS_APPLYED') {
                                status = '已申请';
                            } else if (status == 'STATUS_SUCCESS') {
                                status = '成功';
                            } else if (status == 'STATUS_FAIL') {
                                status = '失败';
                            } else if (status == 'STATUS_CHARGE_BACK') {
                                status = '银行退票';
                            }
                            if (product == 'withdraw.sc.express.001') {
                                product = '快捷';
                            }else if (product == 'trade.sc.express.001') {
                                product = '提现';
                            }

                            $('.pub_tbody').append("<tr>" +
                                "<td>" + product + "</td>" +
                                "<td>" + out_trade_no + "</td>" +
                                "<td>" + fadenum(4, 4, inst_card_no)+ + "</td>" +
                                "<td>" + inst_card_holder_name + "</td>" +
                                "<td>" + amount + "</td>" +
                                "<td>" + fee + "</td>" +
                                "<td>" + gmt_create + "</td>" +
                                "<td>" + memo + "</td>" +
                                "<td>" + status + "</td>" +
                                "</tr>");
                        }
                        laypage.render({
                            elem: 'pub_page'
                            , count: paginator.items
                            , theme: '#347ebc'
                            , layout: ['count', 'prev', 'page', 'next', 'skip']
                            , jump: function (obj,first) {
                                if(!first){
                                    console.log(obj.curr);
                                    query(obj.curr,datas);
                                }
                            }
                        });
                    } else if (result_code == '999') {
                        location.href = "/wrongmsg?wrongmsg=系统错误";
                    } else if(result_code == '10'){
                        $('.pub_tbody').empty().append('<tr><td colspan="9">未找到相关记录</td></tr>');
                        layer.msg(result_code_msg);
                        laypage.render({
                            elem: 'pub_page'
                            , count: 0
                            , theme: '#347ebc'
                            , layout: ['count', 'prev', 'page', 'next', 'skip']
                        });
                    }

                });
        }

    });

</script>