<div class="layui-form pub_querybox">
    <div class="layui-form-item">
        <label class="layui-form-label">查询时间：</label>
        <div class="layui-input-inline">
            <input type="text" name="gmt_create_start" autocomplete="off" class="layui-input" id="gmt_create_start">
        </div>
        <label class="layui-form-label">至：</label>
        <div class="layui-input-inline">
            <input type="text" name="gmt_create_end" autocomplete="off" class="layui-input" id="gmt_create_end">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商户交易号：</label>
        <div class="layui-input-inline">
            <input type="text" name="out_trade_no" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">代付号：</label>
        <div class="layui-input-inline">
            <input type="text" name="trade_no" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">状态：</label>
        <div class="layui-input-inline">
            <select name="status">
                <option>全部</option>
                <option value="WAIT_PAY">待付款</option>
                <option value="PAY_SUCCESS">付款成功</option>
                <option value="STATUS_APPLYED">已申请</option>
                <option value="STATUS_SUCCESS">成功</option>
                <option value="STATUS_FAIL">失败</option>
                <option value="STATUS_CHARGE_BACK">银行退票</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">卡号：</label>
        <div class="layui-input-inline">
            <input type="text" name="card_no" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">持卡人姓名：</label>
        <div class="layui-input-inline">
            <input type="text" name="card_holder_name" autocomplete="off" class="layui-input">
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn pub_bluebtn" lay-submit lay-filter="trade_qbtn">查询</button>
            <!--<button type="reset" class="layui-btn pub_bluebtn">导出</button>-->
        </div>
    </div>
</div>
<div class="pub_table">
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th>产品</th>
            <th>商户号</th>
            <th>卡号</th>
            <th>持卡人姓名</th>
            <th>代付金额</th>
            <th>手续费</th>
            <th>创建时间</th>
            <th>备注</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody class="pub_tbody">
        <tr><td colspan='9'>未找到相关记录</td></tr>
        </tbody>
    </table>
    <div id="pub_page" class="pub_page"></div>
</div>
<script src="../static/javascript/bcquery.js"></script>