<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>聚合支付</title>
    <link href="../static/layui/css/layui.css" rel="stylesheet" type="text/css">
    <link href="../static/css/public.css" rel="stylesheet" type="text/css">
    <link href="../static/css/index.css" rel="stylesheet" type="text/css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="index_bg">
    <div class="pub_tl layui-container">
        <div class="layui-row">
            <div class="layui-col-sm2  layui-col-md2 pub_tltitle">
                <div class="layui-row">
                    <div class="layui-col-sm10  layui-col-md10 layui-col-md-offset2 ">
                        聚合支付
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-md3 layui-col-md-offset7 layui-col-sm-offset7 pub_tlist">
                <div class="layui-row">
                    <div class="layui-col-sm2  layui-col-md2 layui-col-md-offset2 layui-col-sm-offset2 pub_tlbtn">
                        <img src="../static/img/tl_admin.png">
                    </div>
                    <div class="layui-col-sm4  layui-col-md4">
                        <%=user_name%>
                    </div>
                    <div class="layui-col-sm2  layui-col-md2 pub_tlbtn">
                        <img src="../static/img/tl_set.png">
                    </div>
                    <div class="layui-col-sm2  layui-col-md2 pub_tlbtn pub_logoutbtn">
                        <img src="../static/img/tl_logout.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pub_body">
        <div class="layui-side">
            <ul class="layui-nav layui-nav-tree layui-nav-side pub_navside" lay-filter="pub_navside">
                <li class="layui-nav-item layui-this"><a href="javascript:;" id="mcquery"><img src="../static/img/sl_mquery01.png"
                                                                       class="pub_navimg">商户查询<i class="layui-icon">&#xe602;</i>
                </a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="trquery"><img src="../static/img/sl_tquery01.png"
                                                                                  class="pub_navimg">交易查询<i
                        class="layui-icon">&#xe602;</i> </a></li>
                <li class="layui-nav-item"><a href="javascript:;" id="bcquery"><img src="../static/img/sl_bquery01.png"
                                                                       class="pub_navimg">代付查询<i class="layui-icon">&#xe602;</i>
                </a></li>
            </ul>
        </div>
        <div class="layui-body pub_content">


        </div>

    </div>
</div>
<script src="../static/javascript/public.js"></script>
<script src="../static/layui/layui.all.js"></script>
<script src="../static/javascript/index.js"></script>
</body>
</html>