<div class="layui-form pub_querybox">
    <div class="layui-form-item">
        <label class="layui-form-label">查询时间：</label>
        <label class="layui-form-label">从</label>
        <div class="layui-input-inline">
            <input type="text" name="gmt_create_start" autocomplete="off" class="layui-input" id="gmt_create_start">
        </div>
        <label class="layui-form-label">到</label>
        <div class="layui-input-inline">
            <input type="text" name="gmt_create_end" autocomplete="off" class="layui-input" id="gmt_create_end">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">交易号：</label>
        <div class="layui-input-inline">
            <input type="text" name="out_trade_no" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">状态：</label>
        <div class="layui-input-inline">
            <select name="province">
                <option>全部</option>
                <option value="TRADE_WAIT_PAY">等待买家付款</option>
                <option value="TRADE_FINISHED">交易成功</option>
                <option value="TRADE_CLOSED_BY_SYS">超时关闭</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">终端号：</label>
        <div class="layui-input-inline">
            <input type="text" name="terminal_id" autocomplete="off" class="layui-input">
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn pub_bluebtn" lay-submit lay-filter="trade_qbtn">查询</button>
            <!--<button type="reset" class="layui-btn pub_bluebtn">导出</button>-->
        </div>
    </div>
</div>
<div class="pub_table">
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th>产品类型</th>
            <th>商户交易号</th>
            <th>交易摘要</th>
            <th>币种</th>
            <th>交易金额</th>
            <th>手续费</th>
            <th>商户交易时间</th>
            <th>支付类型</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody class="pub_tbody">
        <tr><td colspan='9'>未找到相关记录</td></tr>
        </tbody>
    </table>
    <div id="pub_page" class="pub_page"></div>
</div>
<script src="../static/javascript/trquery.js"></script>