<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错误</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" type="text/css">
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-sm3  layui-col-md3 layui-col-md-offset5 layui-col-sm-offset5">
                <img class="pure-img" style="margin:2rem auto" src="../static/img/wrong_pimg.png"/><br>
                <span style="font-size: 2rem;color: #C92025;font-family: 'Microsoft YaHei'"><%=wrongmsg%></span>
        </div>
    </div>
</div>
</body>
</html>